@charset "UTF-8";
@font-face {
  font-family: 'TT Lakes';
  src: url("./fonts/TTLakesCondensed-Light.eot");
  src: url("./fonts/TTLakesCondensed-Light.woff") format("woff");
  src: url("./fonts/TTLakesCondensed-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakesCondensed-Regular.eot");
  src: url("../fonts/TTLakesCondensed-Regular.woff") format("woff");
  src: url("../fonts/TTLakesCondensed-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakesCondensed-Bold.eot");
  src: url("../fonts/TTLakesCondensed-Bold.woff") format("woff");
  src: url("../fonts/TTLakesCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  min-width: 320px;
}

header {
  padding: 19px 16px;
}

.menu__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.menu__button-round {
  background-color: #FF3E79;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu__button-round:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-filter: hue-rotate(45deg) drop-shadow(0 0 0.75rem #FF3E79);
          filter: hue-rotate(45deg) drop-shadow(0 0 0.75rem #FF3E79);
}

.menu__left-part {
  padding: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__left-part .logo {
  padding-left: 10px;
}

.menu__feedback {
  display: none;
}

.menu__support {
  padding: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__support::before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  position: relative;
  left: -10px;
  top: 4px;
}

.content {
  background-color: #F8F8F8;
  padding-top: 24px;
}

.content__content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__support {
  display: none;
}

.content__title {
  margin: 0 0 0 16px;
  font-family: TT Lakes;
  font-size: 28px;
  line-height: 40px;
  position: relative;
}

.content__title::after {
  content: "";
  width: 5px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 0 15px 15px 0;
  position: absolute;
  left: -16px;
  top: 0px;
}

.content__menu-list {
  margin: 0;
  padding: 24px 0 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  overflow: auto;
}

.content__menu-item {
  margin: 0;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-align: left;
}

.content__menu-link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
  letter-spacing: -0.2px;
  text-align: center;
  white-space: nowrap;
  border: 2px solid transparent;
}

.content__menu-link:hover {
  border: 2px solid #41F6D7;
  border-radius: 6px;
  background-color: white;
}

.content__menu-link:active {
  background-color: #41F6D7;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__text {
  width: 100%;
  padding: 24px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.article__wrapper {
  max-height: 4em;
  overflow: hidden;
}

.article__paragraph {
  margin: 0;
  padding: 12px 0;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.article img {
  width: 100%;
  height: auto;
}

.btn-read-more {
  padding-left: 24px;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  border: none;
  background-color: #F8F8F8;
  outline: none;
  position: relative;
}

.btn-read-more::before {
  content: "";
  width: 8px;
  height: 10px;
  background-color: #F8F8F8;
  background-image: url("../img/icons/chevron-double-down.png");
  position: absolute;
  left: 5px;
  top: 7px;
}

.mobile {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  max-width: 320px;
  padding: 24px 16px;
}

.mobile__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
}

.mobile__search {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
}

.mobile__menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobile__menu-item {
  position: relative;
}

.mobile__menu-link {
  display: block;
  text-decoration: none;
  padding: 14px 0;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.mobile__menu-link:hover {
  color: #7E7E82;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.mobile__menu-link:hover::before {
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  content: "";
  width: 5px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 0 15px 15px 0;
  position: absolute;
  left: -16px;
  top: 8px;
}

.mobile .menu__feedback {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.mobile .menu__feedback .menu__button-round {
  margin-right: 10px;
}

.red-round-button {
  background-color: #FF3E79;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.red-round-button:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-filter: hue-rotate(45deg) drop-shadow(0 0 0.75rem #FF3E79);
          filter: hue-rotate(45deg) drop-shadow(0 0 0.75rem #FF3E79);
}

.contacts {
  padding: 17px 0;
}

.contacts__mail-to {
  display: block;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;
  padding-bottom: 18px;
}

.contacts__call-to {
  display: block;
  font-family: TT Lakes;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  text-decoration: none;
}

.contacts a:hover {
  color: #7E7E82;
}

.choose-lang {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
}

.choose-lang__item a {
  text-decoration: none;
  color: #1B1C21;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.choose-lang__item a:hover {
  color: #7E7E82;
}

@media (min-width: 768px) {
  .mobile .menu__left-part::before {
    display: none;
  }
  header
.menu__feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-right: 20px;
  }
  header
.menu .logo {
    padding: 0 22px;
  }
  header
.menu__left-part {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header
.menu__left-part::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position: relative;
    left: 60px;
    top: 0;
  }
  .content .article {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content .article__text {
    width: calc(100% - 360px - 48px);
  }
  .content .article__wrapper {
    max-height: 8em;
    overflow: hidden;
  }
  .content .article__image {
    padding-top: 24px;
  }
  .content .article__image img {
    width: 360px;
  }
}

@media (min-width: 1220px) {
  .container {
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
  }
  .mobile .menu__list {
    position: inherit;
  }
  .mobile .menu__left-part {
    display: inherit;
  }
  header {
    padding: 0;
  }
  header .menu__list {
    position: absolute;
    top: 18px;
  }
  header .menu__left-part {
    display: none;
  }
  header .menu__feedback {
    display: none;
  }
  header .menu__support {
    position: absolute;
    left: 1000px;
    top: 6px;
    width: 220px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .menu__support::before {
    display: none;
  }
  header .menu__support .menu__button-round:first-child::before {
    content: "Оставить заявку";
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    position: absolute;
    left: -113px;
  }
  header .menu__support .menu__button-round:last-child::before {
    content: "Статус ремонта";
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    position: absolute;
    left: 65px;
  }
  .content {
    width: 100%;
  }
  .content__menu-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .article__image img {
    width: 532px;
  }
}
/*# sourceMappingURL=style.css.map */