//Variables

$background-fill-color: #F8F8F8;
$round-buttons-fill-color: #FF3E79;
$decoration-elements-color: #41F6D7;
$active-menu-items-color: #B8FFEC;
$divider-color: #EAEAEA;
$content-menu-item-text-color: #7E7E82;
$content-block-text-color: #1B1C21;
$mobile-width: 320px;
$tablet-width: 768px;
$content-width: 1220px;


//Fonts
@font-face {
    font-family: 'TT Lakes';
    src: url("./fonts/TTLakesCondensed-Light.eot");
    src: url("./fonts/TTLakesCondensed-Light.woff") format("woff");
    src: url("./fonts/TTLakesCondensed-Light.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakesCondensed-Regular.eot');
    src: url('../fonts/TTLakesCondensed-Regular.woff') format('woff');
    src: url('../fonts/TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("../fonts/TTLakesCondensed-Bold.eot");
    src: url('../fonts/TTLakesCondensed-Bold.woff') format('woff');
    src: url('../fonts/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


//Base
body {
    margin: 0;
    height: 100vh;
    min-width: 320px;
}


//Header
header {
    padding: 19px 16px;
    }
.menu {
   &__list {
       margin: 0;
       padding: 0;
       display: flex;
       justify-content: space-between;
       align-items: center;
       list-style-type: none;
   }

   &__button-round {
       background-color: $round-buttons-fill-color;
       margin: 0 5px;
       width: 40px;
       height: 40px;
       border-radius: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
       &:hover {
           transition-duration: 300ms;
           filter: hue-rotate(45deg) drop-shadow(0 0 0.75rem $round-buttons-fill-color);
       }
   }
   &__left-part {
       padding: inherit;
       display: flex;
       justify-content: flex-start;
       align-items: center;
       & .logo {
           padding-left: 10px;
       }
       
   }

   &__feedback {
       display: none;
   }

   &__support {
       padding: inherit;
       display: flex;
       justify-content: flex-end;
       &::before {
           content: "";
           width: 2px;
           height: 32px;
           background-color: $divider-color;
           position: relative;
           left: -10px;
           top: 4px;
       }
   }
}
//Main

.content {
    background-color: $background-fill-color;
    padding-top: 24px;

    &__content-header {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__support {
        display: none;
    }


    &__title {
        margin: 0 0 0 16px;
        font-family: TT Lakes;
        font-size: 28px;
        line-height: 40px;
        position: relative;
        &::after {
            content: "";
            width: 5px;
            height: 40px;
            background-color: $decoration-elements-color;
            border-radius: 0 15px 15px 0;
            position: absolute;
            left: -16px;
            top: 0px;
        }
    }
    

    &__menu-list {
        margin: 0;
        padding: 24px 0 0 24px;
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        overflow: auto;

    }

    &__menu-item {
        margin: 0;
        padding: 0 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        text-align: left;
    }


    &__menu-link {
        display: block;
        box-sizing: border-box;
        padding: 8px 16px;
        text-decoration: none;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        color: $content-menu-item-text-color;
        letter-spacing: -0.2px;
        text-align: center;
        white-space: nowrap;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid $decoration-elements-color;
            border-radius: 6px;
            background-color: white;
        }
        &:active {
            background-color: $decoration-elements-color;
        }

    }
}

.article {
    display: flex;
    flex-direction: column;

    &__text {
        width: 100%;
        padding: 24px 16px;
        box-sizing: border-box;
    }

    &__wrapper {
        max-height: 4em;
        overflow: hidden;
    }

    &__paragraph {
        margin: 0;
        padding: 12px 0;
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: $content-block-text-color;  
    }

    & img {
        width: 100%;
        height: auto;
    }
}

.btn-read-more {
    padding-left: 24px;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $content-block-text-color;
    border: none;
    background-color: $background-fill-color;
    outline: none;
    position: relative;
    &::before {
        content: "";
        width: 8px;
        height: 10px;
        background-color: $background-fill-color;
        background-image: url("../img/icons/chevron-double-down.png");
        position: absolute;
        left: 5px;
        top: 7px;
    }
}

//Mobile menu
.mobile {
    background-color: white;
    &__search {
        padding: inherit;
        display: flex;
        justify-content: flex-end;
    }
    &__menu-list {
        margin: 0;
        list-style-type: none;
        padding: 0;
        
    }
    &__menu-item {
        position: relative;
    }
    &__menu-link {
        display: block;
        text-decoration: none;
        padding: 24px 24px;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;

        &:hover {
            color: #7E7E82;
            transition-duration: 200ms;
        }
        &:hover::before {
            transition-duration: 200ms;
            content: "";
            width: 5px;
            height: 40px;
            background-color: $decoration-elements-color;
            border-radius: 0 15px 15px 0;
            position: absolute;
            left: 0px;
            top: 12px;
        }
    }
    .menu__feedback {
        display: flex;
        justify-content: flex-start;
        padding-inline-start: 24px;
        .menu__button-round {
            margin-right: 20px;
        }
    }
}

.contacts {
    padding: 17px 24px;
    &__mail-to {
        display: block;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        text-decoration: none;
    }
    &__call-to {
        display: block;
        font-family: TT Lakes;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        color: #1B1C21;
        text-decoration: none;
    }
}
.choose-lang {
    margin-top: 41px;
    padding-left: 24px;

    &__btn {
        border: none;
        background-color: inherit;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        text-transform: uppercase;
        &:hover {
            color: #7E7E82;
        }

    }
}

// Tablet 320px

@media (min-width: $tablet-width) {
    header
        .menu {
            &__feedback {
                display: flex;
                justify-content: flex-end;
                flex-grow: 1;
                padding-right: 20px;
            }

            .logo {
                padding: 0 22px;
            }

            &__left-part {
                justify-content: space-between;
                &::before {
                    content: "";
                    width: 2px;
                    height: 32px;
                    background-color: $divider-color;
                    position: relative;
                    left: 60px;
                    top: 0;
                }
            }
        }
    .content {
        
        .article {
            justify-content: space-between;
            flex-direction: row;
            &__text {
                width: calc(100% - 360px - 48px);
            }

            &__wrapper {
                max-height: 8em;
                overflow: hidden;
            }
            
            &__image {
                padding-top: 24px;
                & img {
                    width: 360px
                }
            }
        }
    }
    
    
}

//Desktop 1220px

@media (min-width: $content-width) {
    .container {
        max-width: $content-width;
        margin: 0 auto;
        position: relative;
    }
    header {
        padding: 0;
           

        & .menu {
            &__list {
                position: absolute;
                top: 18px;
            }
            &__left-part {
                display: none;
            }

            &__feedback {
                display: none;
            }
            &__support {
                position: absolute;
                left: 1000px;
                top: 6px;
                width: 220px;
                justify-content: space-between;
                &::before {
                    display: none;
                }
                .menu__button-round:first-child::before {
                    content: "Оставить заявку";
                    font-family: TT Lakes;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.2px;
                    white-space: nowrap;
                    position: absolute;
                    left: -113px;
                }
                .menu__button-round:last-child::before {
                    content: "Статус ремонта";
                    font-family: TT Lakes;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.2px;
                    white-space: nowrap;
                    position: absolute;
                    left: 65px;
                }

            }
        }

        
    }
    .content {
        width: 100%;
        &__menu-list {
            flex-wrap: wrap;
        }
        .article {
            &__image {
                & img {
                    width: 532px;
                }
            }
        }
    }
}      


